@page
@model accountslogin.src.main.webapp.WEB_INF.views.Shared.FooterModel
@{
}
<footer>
    <div class="footer">
        <div class="footer_container">
            <p>
                Copyright © 2023 Sum Wan, FU (Project: OrderTable, Inc). Graduated from the University of Adelaide
                Adelaide, South Australia 5005 Australia - All rights reserved.
            </p>
        </div>
    </div>
</footer>